.version.index /* version checker */
{
	color: #00001F;
	background-color: #DB6167;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1913.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 19px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	margin-left: 436px;
}

#u75
{
	z-index: 2;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u124-3
{
	z-index: 10;
	width: 9px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 575px;
}

#u81-6
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 143px;
	margin-top: 6px;
	position: relative;
}

#pmenuu213
{
	width: 0.01px;
	margin-left: 302px;
	margin-top: 54px;
}

#menuu213
{
	z-index: 75;
	width: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u222
{
	width: 176px;
	border-width: 1px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u222.MuseMenuActive
{
	background-color: #B58C4F;
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u223-4
{
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 0px;
}

#u223-4_clip
{
	overflow: hidden;
	width: 176px;
	height: 17px;
	vertical-align: top;
}

#u223-4_img
{
	display: block;
}

#menuu229
{
	z-index: 82;
	width: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u221,#u230
{
	width: 178px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u233
{
	width: 176px;
	border-width: 1px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u233:hover
{
	background-color: #C69C6D;
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u233:active
{
	background-color: #6B6B6B;
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u236
{
	height: 17px;
	width: 176px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	background: url("../images/u236.png") no-repeat 0px 0px;
}

#u233:hover #u236
{
	background: url("../images/u236-r.png") no-repeat 0px 0px;
}

#u233.MuseMenuActive #u236
{
	background: url("../images/u236-a.png") no-repeat 0px 0px;
}

#u746
{
	z-index: 94;
	width: 960px;
	height: 1px;
	background-color: #7F7F7F;
	margin-top: 10px;
	position: relative;
}

#slideshowu948
{
	z-index: 98;
	width: 0.01px;
	height: 466px;
	left: -100px;
	margin-top: 47px;
	position: relative;
}

#u955
{
	position: absolute;
	width: 1160px;
	height: 466px;
	background-color: transparent;
}

#u955popup
{
	z-index: 99;
}

#u956
{
	z-index: 100;
	width: 1160px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1016
{
	z-index: 102;
	width: 1160px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1025
{
	z-index: 104;
	width: 1160px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1034
{
	z-index: 106;
	width: 1160px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1043
{
	z-index: 108;
	width: 1160px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u962-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 422px;
	left: 690px;
}

#u962-4popup
{
	z-index: 110;
}

#u962
{
	color: #999999;
}

#u965-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 422px;
	left: 790px;
}

#u965-4popup
{
	z-index: 114;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu1052
{
	z-index: 118;
	width: 0.01px;
	position: relative;
	margin-left: 254px;
	margin-top: -329px;
}

#u1052
{
	z-index: 0;
	width: 452px;
	background-color: #FFFFFF;
	opacity: 0.87;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";
	filter: alpha(opacity=87);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1053-4
{
	width: 0.01px;
	position: relative;
	left: 128px;
	padding-top: 25px;
	z-index: 2;
	padding-bottom: 33px;
}

#u1053-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1054-4
{
	z-index: 123;
	width: 200px;
	background-color: transparent;
	color: #B58C4F;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	margin-top: 10px;
	position: relative;
}

#u1055-4
{
	z-index: 127;
	width: 200px;
	background-color: transparent;
	text-align: center;
	margin-top: 11px;
	position: relative;
}

#u748
{
	z-index: 96;
	width: 391px;
	height: 1px;
	background-color: #B58C4F;
	margin-top: 144px;
	position: relative;
}

#u749
{
	z-index: 97;
	width: 408px;
	height: 1px;
	background-color: #B58C4F;
	margin-left: 552px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u176
{
	z-index: 17;
	width: 5px;
	height: 5px;
	margin-left: 25px;
	margin-top: 28px;
	position: relative;
}

#pu180-4
{
	width: 0.01px;
	margin-left: 73px;
	margin-top: 83px;
}

#u180-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u182-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 323px;
}

#u184-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 646px;
}

#pu181-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u181-4
{
	z-index: 22;
	width: 263px;
	min-height: 98px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u183-4
{
	z-index: 30;
	width: 263px;
	min-height: 98px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#u185-16
{
	z-index: 38;
	width: 263px;
	min-height: 98px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 656px;
}

#u187
{
	z-index: 58;
	width: 5px;
	height: 5px;
	margin-left: 25px;
	margin-top: 104px;
	position: relative;
}

.ie #u176,.ie #u187
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u188
{
	z-index: 59;
	width: 416px;
	height: 1px;
	background-color: #B58C4F;
	margin-left: 4px;
	margin-top: 67px;
	position: relative;
}

#u747
{
	z-index: 95;
	width: 416px;
	height: 1px;
	background-color: #B58C4F;
	margin-left: 544px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu190
{
	width: 0.01px;
	margin-left: 77px;
	margin-top: 44px;
}

#u190
{
	z-index: 60;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u196-13
{
	z-index: 62;
	width: 435px;
	min-height: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 328px;
}

#u196-11
{
	text-align: center;
}

#u135-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	margin-left: 400px;
	top: -785px;
	margin-bottom: -29px;
	position: relative;
}

#u186-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	margin-left: 429px;
	top: -325px;
	margin-bottom: -29px;
	position: relative;
}

#u647-5
{
	z-index: 89;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 139px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 93px;
}

#page .verticalspacer
{
	clear: both;
}

